<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <header>
        <h1>Welcome to the Home Page</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/register">Sign up</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <main>
        <h2>Main Content</h2>
        <p>This is the main content area. You can add more information here.</p>
        <a class="button" href="/register">Register Now</a>
        <a class="button" href="/login">Login Here</a>
    </main>
    <footer>
        <p>&copy; 2024 Your Company. All rights reserved.</p>
    </footer>
</body>
</html>
